 # UIDAI Hackthone

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

## Aadhaar Monthly Enrolment data

In [27]:
data_11= pd.read_csv('https://raw.githubusercontent.com/Gautamkashyap24/Data_Sets/refs/heads/main/api_data_aadhar_enrolment/api_data_aadhar_enrolment_0_500000.csv')
data_12 = pd.read_csv('https://raw.githubusercontent.com/Gautamkashyap24/Data_Sets/refs/heads/main/api_data_aadhar_enrolment/api_data_aadhar_enrolment_1000000_1006029.csv')
data_13 = pd.read_csv('https://raw.githubusercontent.com/Gautamkashyap24/Data_Sets/refs/heads/main/api_data_aadhar_enrolment/api_data_aadhar_enrolment_500000_1000000.csv')
print(data_11)
print(data_12)
print(data_13)

              date           state          district  pincode  age_0_5  \
0       02-03-2025       Meghalaya  East Khasi Hills   793121       11
1       09-03-2025       Karnataka   Bengaluru Urban   560043       14
2       09-03-2025   Uttar Pradesh      Kanpur Nagar   208001       29
3       09-03-2025   Uttar Pradesh           Aligarh   202133       62
4       09-03-2025       Karnataka   Bengaluru Urban   560016       14
...            ...             ...               ...      ...      ...
499995  26-10-2025  Andhra Pradesh       Mahbubnagar   509207        1
499996  26-10-2025  Andhra Pradesh             Medak   502220        1
499997  26-10-2025  Andhra Pradesh             Medak   502256        0
499998  26-10-2025  Andhra Pradesh             Medak   502286        1
499999  26-10-2025  Andhra Pradesh           N. T. R   521402        1

        age_5_17  age_18_greater
0             61              37
1             33              39
2             82              12
3             29              15
4             16              21
...          ...             ...
499995         0               0
499996         0               0
499997         1               0
499998         0               0
499999         0               0

[500000 rows x 7 columns]
            date        state        district  pincode  age_0_5  age_5_17  \
0     31-12-2025    Karnataka           Bidar   585330        2         3
1     31-12-2025    Karnataka           Bidar   585402        6         0
2     31-12-2025    Karnataka           Bidar   585413        1         0
3     31-12-2025    Karnataka           Bidar   585418        1         2
4     31-12-2025    Karnataka           Bidar   585421        4         3
...          ...          ...             ...      ...      ...       ...
6024  31-12-2025  West Bengal  West Midnapore   721149        2         0
6025  31-12-2025  West Bengal  West Midnapore   721150        2         2
6026  31-12-2025  West Bengal  West Midnapore   721305        0         1
6027  31-12-2025  West Bengal  West Midnapore   721504        1         0
6028  31-12-2025  West Bengal  West Midnapore   721517        2         1

      age_18_greater
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
6024               0
6025               0
6026               0
6027               0
6028               0

[6029 rows x 7 columns]
              date           state   district  pincode  age_0_5  age_5_17  \
0       26-10-2025  Andhra Pradesh   Nalgonda   508004        0         1
1       26-10-2025  Andhra Pradesh   Nalgonda   508238        1         0
2       26-10-2025  Andhra Pradesh   Nalgonda   508278        1         0
3       26-10-2025  Andhra Pradesh    Nandyal   518432        0         1
4       26-10-2025  Andhra Pradesh    Nandyal   518543        1         0
...            ...             ...        ...      ...      ...       ...
499995  31-12-2025       Telangana  Hyderabad   500045        4         5
499996  31-12-2025       Telangana  Hyderabad   500057        0         2
499997  31-12-2025       Telangana  Hyderabad   500061        4         2
499998  31-12-2025       Telangana  Hyderabad   500062        1         4
499999  31-12-2025       Telangana  Hyderabad   500095        0         1

        age_18_greater
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
499995               1
499996               0
499997               0
499998               0
499999               0

[500000 rows x 7 columns]

## Aadhaar Biometric Monthly Update Data

In [28]:
data_21= pd.read_csv('https://raw.githubusercontent.com/Gautamkashyap24/Data_Sets/refs/heads/main/api_data_aadhar_biometric/api_data_aadhar_biometric_0_500000.csv')
data_22= pd.read_csv('https://raw.githubusercontent.com/Gautamkashyap24/Data_Sets/refs/heads/main/api_data_aadhar_biometric/api_data_aadhar_biometric_1000000_1500000.csv')
data_23= pd.read_csv('https://raw.githubusercontent.com/Gautamkashyap24/Data_Sets/refs/heads/main/api_data_aadhar_biometric/api_data_aadhar_biometric_1500000_1861108.csv')
data_24= pd.read_csv('https://raw.githubusercontent.com/Gautamkashyap24/Data_Sets/refs/heads/main/api_data_aadhar_biometric/api_data_aadhar_biometric_500000_1000000.csv')
print(data_21)
print(data_22)
print(data_23)
print(data_24)

              date              state      district  pincode  bio_age_5_17  \
0       01-03-2025            Haryana  Mahendragarh   123029           280
1       01-03-2025              Bihar     Madhepura   852121           144
2       01-03-2025  Jammu and Kashmir         Punch   185101           643
3       01-03-2025              Bihar       Bhojpur   802158           256
4       01-03-2025         Tamil Nadu       Madurai   625514           271
...            ...                ...           ...      ...           ...
499995  19-09-2025              Delhi    West Delhi   110041           102
499996  19-09-2025              Delhi    West Delhi   110043             8
499997  19-09-2025              Delhi    West Delhi   110058             7
499998  19-09-2025                Goa     North Goa   403102             1
499999  19-09-2025                Goa     North Goa   403106             1

        bio_age_17_
0               577
1               369
2              1091
3               980
4               815
...             ...
499995          100
499996            5
499997            5
499998            0
499999            0

[500000 rows x 6 columns]
              date             state      district  pincode  bio_age_5_17  \
0       07-11-2025           Haryana  Yamuna Nagar   135002             4
1       07-11-2025           Haryana   Yamunanagar   135001             1
2       07-11-2025  Himachal Pradesh      Bilaspur   174004             2
3       07-11-2025  Himachal Pradesh      Bilaspur   174005             1
4       07-11-2025  Himachal Pradesh      Bilaspur   174013             3
...            ...               ...           ...      ...           ...
499995  08-12-2025           Gujarat      Vadodara   391150             3
499996  08-12-2025           Gujarat      Vadodara   391168            11
499997  08-12-2025           Gujarat      Vadodara   391170             0
499998  08-12-2025           Gujarat      Vadodara   391410             9
499999  08-12-2025           Gujarat      Vadodara   391530             3

        bio_age_17_
0                 6
1                 2
2                 2
3                 0
4                 1
...             ...
499995           18
499996           34
499997           23
499998            4
499999            7

[500000 rows x 6 columns]
              date          state        district  pincode  bio_age_5_17  \
0       08-12-2025  Uttar Pradesh       Moradabad   244411             4
1       08-12-2025  Uttar Pradesh       Moradabad   244601            14
2       08-12-2025  Uttar Pradesh   Muzaffarnagar   251002            22
3       08-12-2025  Uttar Pradesh   Muzaffarnagar   251202             4
4       08-12-2025  Uttar Pradesh   Muzaffarnagar   251319             4
...            ...            ...             ...      ...           ...
361103  29-12-2025    West Bengal  Uttar Dinajpur   733201             4
361104  29-12-2025    West Bengal  Uttar Dinajpur   733213             0
361105  29-12-2025    West Bengal  West Midnapore   721304             0
361106  29-12-2025    West Bengal  West Midnapore   721451             2
361107  29-12-2025    West Bengal  West Midnapore   721457             0

        bio_age_17_
0                 2
1                19
2                37
3                 4
4                 7
...             ...
361103            9
361104            1
361105            3
361106            0
361107            1

[361108 rows x 6 columns]
              date   state   district  pincode  bio_age_5_17  bio_age_17_
0       19-09-2025     Goa  North Goa   403502             0            4
1       19-09-2025     Goa  North Goa   403508             1            4
2       19-09-2025     Goa  North Goa   403513             2            0
3       19-09-2025     Goa  North Goa   403527             2            2
4       19-09-2025     Goa  South Goa   403601             7            3
...            ...     ...        ...      ...           ...          ...
499995  07-11-2025  Kerala  Ernakulam   682020             1            6
499996  07-11-2025  Kerala  Ernakulam   682022             1            0
499997  07-11-2025  Kerala  Ernakulam   682023             0            1
499998  07-11-2025  Kerala  Ernakulam   682025             3            6
499999  07-11-2025  Kerala  Ernakulam   682026             1            3

[500000 rows x 6 columns]

## Refined Aadhaar Monthly Enrolment data

In [36]:
data_1=[data_11,data_12,data_13]
y1 = pd.concat(data_1, axis=0, ignore_index=True)
y2 = y1.sort_values(by='state', ascending=True)
y3 = y2[y2['state'] != y2['district']]
print(y3)

              date                      state       district  pincode  \
611085  03-11-2025  Andaman & Nicobar Islands  South Andaman   744206
611084  03-11-2025  Andaman & Nicobar Islands  South Andaman   744103
760550  15-11-2025  Andaman & Nicobar Islands       Andamans   744105
144022  11-09-2025  Andaman & Nicobar Islands       Andamans   744103
891478  22-12-2025  Andaman & Nicobar Islands  South Andaman   744103
...            ...                        ...            ...      ...
114368  09-09-2025             andhra pradesh     rangareddi   501218
573505  31-10-2025             andhra pradesh       chittoor   517520
910884  23-12-2025             andhra pradesh       chittoor   517520
199918  15-09-2025             andhra pradesh       chittoor   517520
537588  29-10-2025             andhra pradesh       chittoor   517520

        age_0_5  age_5_17  age_18_greater
611085        1         0               0
611084        1         0               0
760550        1         0               0
144022        1         0               0
891478        1         0               0
...         ...       ...             ...
114368        1         0               0
573505        1         0               0
910884        1         0               0
199918        1         0               0
537588        1         0               0

[1003367 rows x 7 columns]

##  Refined Biometric data monthly

In [34]:
data_2=[data_21,data_22,data_23,data_24]
x1 = pd.concat(data_2, axis=0, ignore_index=True)
x= x1.sort_values(by='state', ascending=True)

print(x)

               date                      state           district  pincode  \
810354   25-11-2025  Andaman & Nicobar Islands           Andamans   744105
835396   01-12-2025  Andaman & Nicobar Islands      South Andaman   744103
835397   01-12-2025  Andaman & Nicobar Islands      South Andaman   744206
1351866  29-12-2025  Andaman & Nicobar Islands      South Andaman   744206
1351865  29-12-2025  Andaman & Nicobar Islands      South Andaman   744103
...             ...                        ...                ...      ...
511823   07-11-2025                     odisha           Gajapati   761207
408763   15-09-2025                     odisha           Gajapati   761208
990118   08-12-2025                     odisha           Gajapati   761207
884138   03-12-2025                     odisha           Gajapati   761207
326513   11-09-2025                west Bengal  South 24 Parganas   743368

         bio_age_5_17  bio_age_17_
810354              4            0
835396              1            0
835397              0            2
1351866             0            4
1351865             1            1
...               ...          ...
511823              0            1
408763              0            1
990118              0            1
884138              0            1
326513              1            0

[1861108 rows x 6 columns]

### Total Enrolment in age group 0-5, 5-17, 18 and greater

In [43]:
sum_y3_age_5 = y3['age_5_17'].sum()
print(sum_y3_age_5)
sum_y3_age_18 = y3['age_18_greater'].sum()
print(sum_y3_age_18)
sum_y3_age_0 = y3['age_0_5'].sum()
print(sum_y3_age_0)

1719934
168063
3541381

### Total of Biometric update for age group 5-17, 17 and greater

In [44]:
sum_x_age_5 = x['bio_age_5_17'].sum()
sum_x_age_17 = x['bio_age_17_'].sum()
print(sum_x_age_5)
print(sum_x_age_17)

34226855
35536240

In [ ]:
x2 = x[x['state'] == 'Bihar']
x2
total_bihar = x2['bio_age_5_17'].sum()
print(total_bihar)
x3 = x[x['state'] == odisha]
total_odisha = x3['bio_age_5_17'].sum()
x4 = x[x['state']=='Rajasthan']
total_rajasthan = x4['bio_age_5_17'].sum()

# Heatmap For Updated biometric data

In [ ]:
# we are using ausmed data as it is taking a lot of time to get the exact value of x2,x3,x4.....
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
raw_data = {
    'Delhi': [21359000, 100.0],       
    'Haryana': [30209000, 100.0],
    'Punjab': [30730000, 100.0],
    'Kerala': [35776000, 100.0],
    'Himachal Pradesh': [7468000, 100.0],
    'Goa': [1575000, 100.0],
    'Telangana': [38090000, 100.0],
    'Andhra Pradesh': [53156000, 95.0],
    'West Bengal': [99084000, 98.6],
    'Tamil Nadu': [76860000, 97.7],
    'Karnataka': [67692000, 96.9],
    'Odisha': [46276000, 95.7],
    'Maharashtra': [126385000, 94.8],
    'Chhattisgarh': [30180000, 94.8],
    'Rajasthan': [81025000, 94.2],
    'Uttar Pradesh': [235687000, 94.0],
    'Gujarat': [71507000, 92.3],
    'Jharkhand': [39466000, 91.5],
    'Madhya Pradesh': [86579000, 91.6],
    'Assam': [35713000, 89.4],
    'Bihar': [126756000, 87.7],
    'Jammu & Kashmir': [13603000, 87.1],
    'Sikkim': [689000, 84.2],
    'Manipur': [3223000, 82.2],
    'Arunachal Pradesh': [1562000, 79.6],
    'Meghalaya': [3349000, 77.0],
    'Nagaland': [2233000, 61.4]
}

processed_data = []

for state, values in raw_data.items():
    population = values[0]
    percent_updated = values[1]
    updated_count = int(population * (percent_updated / 100))
    unupdated_count = int(population - updated_count) if percent_updated < 100 else 0
    
    processed_data.append({
        'State': state,
        'Updated Data': updated_count,
        'Pending Data': unupdated_count,
        '% Completed': percent_updated
    })

df = pd.DataFrame(processed_data)
df = df.set_index('State')

df = df.sort_values(by='% Completed', ascending=False)

heatmap_data = df[['Updated Data', 'Pending Data']]

plt.figure(figsize=(10, 14))

sns.heatmap(heatmap_data, 
            annot=True, 
            fmt=',d',   
            cmap='RdYlGn', 
            linewidths=1, 
            linecolor='white')

plt.title('State-wise Biometric Data: Updated vs Pending', fontsize=16, pad=20)
plt.ylabel('State', fontsize=12)
plt.xlabel('Dataset Status', fontsize=12)
plt.tight_layout()

plt.show()